openapi: 3.0.3

info:
  title: SALESTORM API
  description: Flash Sale E-Commerce System API
  version: 1.0.0

servers:
  - url: https://api.salestorm.com/api/v1
    description: SALESTORM API Gateway

tags:
  - name: Authentication
    description: Customer registration and login
  - name: Products
    description: Product operations
  - name: Sales
    description: Flash sale operations
  - name: Cart
    description: Shopping cart operations
  - name: Reservations
    description: Inventory reservation operations
  - name: Checkout
    description: Checkout and order creation
  - name: Payments
    description: Payment operations
  - name: Orders
    description: Order operations
  - name: Shipment
    description: Shipment tracking operations

paths:

  # =========================
  # AUTHENTICATION
  # =========================

  /auth/register:
    post:
      tags:
        - Authentication
      summary: Register customer
      description: Creates a new customer account.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: Customer registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '400':
          description: Validation error
        '409':
          description: Email already exists

  /auth/login:
    post:
      tags:
        - Authentication
      summary: Login customer
      description: Authenticates a customer and returns a JWT token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          description: Invalid credentials

  # =========================
  # PRODUCTS
  # =========================

  /products:
    get:
      tags:
        - Products
      summary: Get all products
      description: Returns a list of available products.
      responses:
        '200':
          description: Products retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Product'

  /products/{productId}:
    get:
      tags:
        - Products
      summary: Get product by ID
      description: Returns product information for a specific product.
      parameters:
        - name: productId
          in: path
          required: true
          description: Product ID
          schema:
            type: integer
          example: 1
      responses:
        '200':
          description: Product found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '404':
          description: Product not found

  # =========================
  # SALES
  # =========================

  /sales/active:
    get:
      tags:
        - Sales
      summary: Get active sales
      description: Returns currently active flash sales.
      responses:
        '200':
          description: Active sales retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Sale'

  # =========================
  # CART
  # =========================

  /cart:
    get:
      tags:
        - Cart
      summary: Get customer cart
      description: Returns the authenticated customer's shopping cart.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Cart retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cart'
        '401':
          description: Unauthorized

  /cart/items:
    post:
      tags:
        - Cart
      summary: Add product to cart
      description: Adds a product and quantity to the customer's cart.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCartItemRequest'
      responses:
        '201':
          description: Product added to cart
        '400':
          description: Validation error
        '401':
          description: Unauthorized
        '404':
          description: Product not found
        '409':
          description: Product not active

  # =========================
  # RESERVATIONS
  # =========================

  /reservations:
    post:
      tags:
        - Reservations
      summary: Reserve inventory
      description: Atomically reserves inventory for a customer.
      security:
        - bearerAuth: []
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          description: Unique key used to prevent duplicate reservations.
          schema:
            type: string
          example: RES-1001-001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationRequest'
      responses:
        '201':
          description: Reservation created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reservation'
        '400':
          description: Validation error
        '401':
          description: Unauthorized
        '409':
          description: Insufficient inventory or sale not active
        '422':
          description: Idempotency key reused with different request
        '429':
          description: Rate limit exceeded

  /reservations/{reservationId}:
    get:
      tags:
        - Reservations
      summary: Get reservation
      description: Returns reservation details.
      security:
        - bearerAuth: []
      parameters:
        - name: reservationId
          in: path
          required: true
          schema:
            type: integer
          example: 5001
      responses:
        '200':
          description: Reservation found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reservation'
        '401':
          description: Unauthorized
        '404':
          description: Reservation not found

  /reservations/{reservationId}/release:
    post:
      tags:
        - Reservations
      summary: Release reservation
      description: Releases a reserved inventory quantity.
      security:
        - bearerAuth: []
      parameters:
        - name: reservationId
          in: path
          required: true
          schema:
            type: integer
          example: 5001
      responses:
        '200':
          description: Reservation released successfully
        '401':
          description: Unauthorized
        '404':
          description: Reservation not found
        '409':
          description: Reservation cannot be released

  # =========================
  # CHECKOUT
  # =========================

  /checkout:
    post:
      tags:
        - Checkout
      summary: Create order from reservation
      description: Creates an order using an existing inventory reservation.
      security:
        - bearerAuth: []
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          description: Unique key used to prevent duplicate orders.
          schema:
            type: string
          example: CHK-5001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckoutRequest'
      responses:
        '201':
          description: Order created with PAYMENT_PENDING status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '401':
          description: Unauthorized
        '404':
          description: Reservation not found
        '409':
          description: Invalid reservation state
        '410':
          description: Reservation expired

  # =========================
  # PAYMENTS
  # =========================

  /payments:
    post:
      tags:
        - Payments
      summary: Process payment
      description: Processes payment for an order.
      security:
        - bearerAuth: []
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          description: Unique key used to prevent duplicate payments.
          schema:
            type: string
          example: PAY-ORD-7001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentRequest'
      responses:
        '201':
          description: Payment successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '202':
          description: Payment provider timeout
        '402':
          description: Payment declined
        '404':
          description: Order not found
        '409':
          description: Invalid order state
        '410':
          description: Reservation expired
        '422':
          description: Idempotency key reused
        '503':
          description: Payment provider unavailable

  /payments/{paymentId}:
    get:
      tags:
        - Payments
      summary: Get payment
      description: Returns payment details.
      security:
        - bearerAuth: []
      parameters:
        - name: paymentId
          in: path
          required: true
          schema:
            type: integer
          example: 3001
      responses:
        '200':
          description: Payment found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '401':
          description: Unauthorized
        '404':
          description: Payment not found

  # =========================
  # ORDERS
  # =========================

  /orders/{orderId}:
    get:
      tags:
        - Orders
      summary: Get order
      description: Returns order details.
      security:
        - bearerAuth: []
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: integer
          example: 7001
      responses:
        '200':
          description: Order found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '401':
          description: Unauthorized
        '404':
          description: Order not found

  # =========================
  # SHIPMENT
  # =========================

  /orders/{orderId}/shipment:
    get:
      tags:
        - Shipment
      summary: Get order shipment
      description: Returns shipment information for an order.
      security:
        - bearerAuth: []
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: integer
          example: 7001
      responses:
        '200':
          description: Shipment found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shipment'
        '401':
          description: Unauthorized
        '404':
          description: Shipment not found

# =========================
# COMPONENTS
# =========================

components:

  # =========================
  # SECURITY
  # =========================

  securitySchemes:

    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  # =========================
  # SCHEMAS
  # =========================

  schemas:

    # -------------------------
    # CUSTOMER
    # -------------------------

    Customer:
      type: object
      properties:
        customerId:
          type: integer
          example: 1001
        name:
          type: string
          example: Test Customer
        email:
          type: string
          format: email
          example: test@salestorm.com
        phone:
          type: string
          example: "9876543210"
        status:
          type: string
          example: ACTIVE

    RegisterRequest:
      type: object
      required:
        - name
        - email
        - password
      properties:
        name:
          type: string
          example: Test Customer
        email:
          type: string
          format: email
          example: test@salestorm.com
        password:
          type: string
          format: password
          example: password123
        phone:
          type: string
          example: "9876543210"

    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          example: test@salestorm.com
        password:
          type: string
          format: password
          example: password123

    LoginResponse:
      type: object
      properties:
        accessToken:
          type: string
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9
        tokenType:
          type: string
          example: Bearer

    # -------------------------
    # PRODUCT
    # -------------------------

    Product:
      type: object
      properties:
        productId:
          type: integer
          example: 1
        categoryId:
          type: integer
          example: 1
        name:
          type: string
          example: Flash Sale Phone
        description:
          type: string
          example: Demo flash sale phone
        price:
          type: number
          format: double
          example: 1999.00
        sku:
          type: string
          example: PHONE-001
        status:
          type: string
          example: ACTIVE

    # -------------------------
    # SALE
    # -------------------------

    Sale:
      type: object
      properties:
        saleId:
          type: integer
          example: 1
        name:
          type: string
          example: Diwali Flash Sale
        startTime:
          type: string
          format: date-time
          example: "2026-10-05T10:00:00Z"
        endTime:
          type: string
          format: date-time
          example: "2026-10-05T12:00:00Z"
        status:
          type: string
          example: ACTIVE

    # -------------------------
    # CART
    # -------------------------

    Cart:
      type: object
      properties:
        cartId:
          type: integer
          example: 2001
        customerId:
          type: integer
          example: 1001
        items:
          type: array
          items:
            $ref: '#/components/schemas/CartItem'

    CartItem:
      type: object
      properties:
        cartItemId:
          type: integer
          example: 3001
        productId:
          type: integer
          example: 1
        quantity:
          type: integer
          example: 1

    AddCartItemRequest:
      type: object
      required:
        - productId
        - quantity
      properties:
        productId:
          type: integer
          example: 1
        quantity:
          type: integer
          minimum: 1
          example: 1

    # -------------------------
    # RESERVATION
    # -------------------------

    ReservationRequest:
      type: object
      required:
        - productId
        - customerId
        - quantity
      properties:
        productId:
          type: integer
          example: 1
        customerId:
          type: integer
          example: 1001
        quantity:
          type: integer
          minimum: 1
          example: 1

    Reservation:
      type: object
      properties:
        reservationId:
          type: integer
          example: 5001
        productId:
          type: integer
          example: 1
        customerId:
          type: integer
          example: 1001
        quantity:
          type: integer
          example: 1
        status:
          type: string
          enum:
            - RESERVED
            - PAYMENT_PENDING
            - CONFIRMED
            - RELEASED
            - EXPIRED
          example: RESERVED
        expiresAt:
          type: string
          format: date-time
          example: "2026-10-05T12:05:00Z"

    # -------------------------
    # CHECKOUT
    # -------------------------

    CheckoutRequest:
      type: object
      required:
        - reservationId
      properties:
        reservationId:
          type: integer
          example: 5001

    # -------------------------
    # ORDER
    # -------------------------

    Order:
      type: object
      properties:
        orderId:
          type: integer
          example: 7001
        customerId:
          type: integer
          example: 1001
        reservationId:
          type: integer
          example: 5001
        totalAmount:
          type: number
          format: double
          example: 1799.00
        currency:
          type: string
          example: INR
        status:
          type: string
          enum:
            - CREATED
            - PAYMENT_PENDING
            - CONFIRMED
            - PROCESSING
            - SHIPPED
            - OUT_FOR_DELIVERY
            - DELIVERED
            - CANCELLED
          example: PAYMENT_PENDING

    # -------------------------
    # PAYMENT
    # -------------------------

    PaymentRequest:
      type: object
      required:
        - orderId
        - amount
        - currency
        - paymentMethodToken
      properties:
        orderId:
          type: integer
          example: 7001
        amount:
          type: number
          format: double
          example: 1799.00
        currency:
          type: string
          example: INR
        paymentMethodToken:
          type: string
          example: tok_abc123

    Payment:
      type: object
      properties:
        paymentId:
          type: integer
          example: 3001
        orderId:
          type: integer
          example: 7001
        customerId:
          type: integer
          example: 1001
        amount:
          type: number
          format: double
          example: 1799.00
        currency:
          type: string
          example: INR
        provider:
          type: string
          example: DemoPaymentProvider
        transactionReference:
          type: string
          example: TXN-ABC123
        status:
          type: string
          enum:
            - INITIATED
            - PENDING
            - SUCCESS
            - FAILED
            - REFUNDED
          example: SUCCESS

    # -------------------------
    # SHIPMENT
    # -------------------------

    Shipment:
      type: object
      properties:
        shipmentId:
          type: integer
          example: 9001
        orderId:
          type: integer
          example: 7001
        trackingNumber:
          type: string
          example: TRACK-ABC123
        carrier:
          type: string
          example: DemoExpress
        status:
          type: string
          example: SHIPPED
        estimatedDelivery:
          type: string
          format: date-time
          example: "2026-10-08T12:00:00Z"
